
<ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content class="home" style="background-color: white">
    <ion-item class="header" no-lines>
        <span  style="diplay:inline-block;position:absolute;z-index:50" ><ion-icon   (click)="showInfo()" name="alert" style="color:white;font-size:25px;diplay:inline;"></ion-icon></span>
        <ion-title align="center" ><span style="color:white "><small>home</small></span></ion-title>
        <!-- <span style="diplay:inline-block !important"><h5 align="center" class="center" style="color:white" >Home</h5></span> -->

    </ion-item>
    <div class="icon-container">
      <ion-icon align="center" name="notifications-outline" class="home-icon"></ion-icon>
      <h1 align="center" class="counter">{{this.dataProvider.newAnnouncements > 10 && "10+" || this.dataProvider.newAnnouncements}}</h1>
      <h6 align="center" class="new">new</h6>
    </div>
    <h6 align="center" class="center" style="padding:10px 30px 10px 30px;color:#B4B4B4"><small>tap the button below to view all the new announcements</small></h6>
    <button align="center" (click)= "showList()"ion-button class="center notifications" >View announcements</button>
    <br>
    <!-- <hr style="width:85%">
    <ion-icon name="globe"></ion-icon> -->
</ion-content>


<ion-content style="background-color: white;display:none" class="list">
  <ion-item class="header" no-lines>
    <div (click)="hideList()" class="clickable">
      <ion-icon class="icon-ann" name="ios-close-outline" style="margin-left:10px;font-size:45px;color:white;z-index:10"></ion-icon><br>

    </div>
    <h2 align="center" class="center" style="color:white;">Announcements</h2>

  </ion-item>
  <div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [scrollWindow]="false"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
   class="actual" style="padding: 60px 0 0px 0px;!important;" >
    <div style="padding: 0px 0 6px 0px" *ngFor = "let Ann of ann | async">
      <ion-item class="cools" no-lines (click)="view(Ann)">
        <ion-grid>
          <ion-row>
            <span class="{{Ann.title}} - {{ this.user.read.indexOf(Ann.key) < 0 && 'left-span yes on' || 'left-span no off' }}"></span>
            <ion-col>
              <span class="{{ this.user.read.indexOf(Ann.key) < 0 && 'on' || 'off' }}">{{Ann?.title}}</span><br>
              <span class="{{ this.user.read.indexOf(Ann.key) < 0 && 'on' || 'off' }}"><small>{{Ann?.timestamp}} </small></span>
              <br>
              <span class="{{ this.user.read.indexOf(Ann.key) < 0 && 'on' || 'off' }}" ><small>{{Ann?.owner}} </small></span>
            </ion-col>
            <ion-col>
              <span class="{{ Ann.municipality == 1 && 'show' || 'hide' }}" ><ion-icon class="home-icons icon-left"  name="checkmark-circle"></ion-icon></span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
    <div *ngIf="!finished">
      <div class="loader">
        <div class="loader__figure"></div>
      </div>
    </div>

    <div     *ngIf="finished">
      <span class="done" align="center">Finished</span>
    </div>
  </div>





  <!-- <div style="padding: 5px 0 0px 0px" *ngFor = "let Ann of this.dataProvider.announcements | async">
    <ion-item class="cools" no-lines (click)="showOrderModal()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <span style="opacity:1">{{Ann.title}}</span><br>
            <span style="opacity:6"><small>{{Ann.date}} </small></span>
            <br>
            <span style="opacity:6"><small>{{Ann.owner}} </small></span>
          </ion-col>
          <ion-col>
            <ion-icon class="home-icons icon-left" style="margin-top:10px;" name="checkmark-circle"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div> -->
</ion-content>
