page-password-reset {
  .main-container{
    background-color: #00B2AA;
  }
  .lock{
    font-size: 110px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    margin-top: -10px;
  }

  .message{
    color: white;
    font-weight: 200;
  }
  .button-signin{
    background: #007B73;
    height: 45px;
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: 2px;
  }
}
